body {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    color:black;
    background: #326717 url(img/bg.jpg)
    repeat 50%;
}

header {
    color:gold;
    margin: 0 auto;
}

p{
    margin: 0 auto;
    color:antiquewhite;
    background-color: #326717;
}
#highlights {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.highlights-content{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.highlights-content article{
    width: 500px;
}